.party-item-img{
    flex: 0 0 45px;
    height: 45px;
    background-size: cover;
    background-position: 50% 0;
    border: none;
    margin-right: 5px;
}
.main-party-box {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    overflow: scroll;
}
.item-a {
    height: 100%; 
    overflow: auto;
    grid-column: 1;
    grid-row: 1;
}
.item-b {
    height: 100%; 
    overflow: auto;
    grid-column: 1;
    grid-row: 2;
}
.item-c {
    height: 100%; 
    overflow: auto;
    grid-column: 2;
    grid-row: 1;
}
.item-d {
    height: 100%; 
    overflow: auto;
    grid-column: 2;
    grid-row: 2;
}